:root {
  --greyDark: rgba(27, 27, 26, 0.8);
  --greyMiddle: rgba(49, 54, 42, 0.8);
  --greyContent: #484946;
  --hover: rgb(102, 155, 27);
}


body {
  margin: 10vh 20vw;
  padding: 0;
  text-align: center;
  color: var(--greyMiddle);
}
button {
  background-color: white;/*rgba(126, 197, 45, 0.8);*/
  border: none;
  cursor: pointer;
  color: var(--greyMiddle);
  font-weight: bold;
  padding: 1rem;
  margin: 2rem;
  text-transform: uppercase;
}
button:hover {
  color: var(--hover);

}

.title-h {
  margin: 0;
  font-size: 2rem;
  color: var(--greyMiddle);
  border-bottom: solid 1px rgba(148, 150, 145, 0.8);
}

/* LANDING PAGE */
div .landing-page {
  height: 100vh; 
  margin-top: 30vh;
}


/* MAIN PAGE / GENERAL */
.main-page {
  height:100vh;
}

.nav-main {
  padding: 1rem;
  margin: 1rem;
  border-top: solid 1px rgba(148, 150, 145, 0.8);
  border-bottom: solid 1px rgba(148, 150, 145, 0.8);
}

.nav-main-link {
  text-decoration: none;
  color: var(--greyMiddle);
  padding: 20px;
  font-weight: bold; 
}
.nav-main-link:hover {
  color: var(--hover);
}

.main-page-content {
  width: 60%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: white;
}
.main-page-content p {
  color: black;
}


/* MAIN PAGE / LEAVE A THOUGHT  */

.thoughts > p {
  margin-bottom: 1rem;
}
.thoughts-list {
  padding: 0 1rem;
}
.thought-form {
  padding: 1rem;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
}
 .thought-form-div {
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr;
 }

.thought-form-div > input {
  height: 3vh;
}
.thought-form-div > button {
  margin: 0;
}

.thought-single {
  font-family: 'Annie Use Your Telescope', cursive;
  list-style: none;
  padding: 1rem;
  margin: 2rem 0;
  border-top: solid 1px rgba(148, 150, 145, 0.8);
  
}

.thought-single > .thought-single-p {
  font-size: 1.4rem;
  text-align: left;
}
.thought-single > .thought-single-span {
  text-align: right;
  font-size: 1.2rem;
  font-style: italic;
}

.input, .textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;

}

/* ---------------------------- movies -------------------------------- */

.movies-form {
  display: grid;
}
.movies-label {
  text-align: left;
}
/* ----------------------------------------------------------------- */

@media only screen and (max-width: 1024px) {
  body {
    margin: 10vh 10vw;

  }
}

@media only screen and (max-width: 768px) {
  .main-page-content {
    width: 90%;
  }
  .nav-main-link {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin: 5vh 0;
  }
}

@media only screen and (max-width: 480px) {
  .nav-main {
    display: flex;
    flex-direction: column;
  }
  .thought-form {
    padding: 1rem;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
  }
   .thought-form-div {
     display: grid;
     grid-template-rows: 1fr 1fr;
   }
  
  .thought-form-div > input {
    height: 3vh;
  }
  .thought-form-div > button {
    margin: 0;
    background-color: var(--greyContent);
  }
}
