body {
  margin: 0;
  padding: 0;
  text-align: center;
}
button {
  background-color: rgba(126, 197, 45, 0.8);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

.title-h {
  margin: 0;
  padding: 25px;
  color: rgba(49, 54, 42);
  text-shadow: 1px 1px rgba(126, 197, 45, 0.5);
  text-decoration: underline;
}

/* LANDING PAGE */
div .landing-page {
  height: 100vh; 
  /*background: url(img/01.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* MAIN PAGE / GENERAL */
.main-page {
  height:100vh;
  /*background: url(img/01.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /**/
}

.nav-main {
  background-color: rgba(49, 54, 42, 0.8);
  padding: 10px;
}

.nav-main-link {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-weight: bold; 
}

.main-page-content {
  margin: 10px auto;
  padding: 20px;
  background-color: #c5c5c2b2;
}


/* MAIN PAGE / LEAVE A THOUGHT  */
.thoughts {
  background-color: #c5c5c2b2;
  margin: 10px auto;
  width: 400px;
}
.thought-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

